<?xml version="1.0"?>
<config>
    <modules>
        <Rewardpoints>
            <version>0.6.1</version>
            <depends>
                <Mage_Customer />
                <Mage_Checkout />
            </depends>
        </Rewardpoints>
    </modules>
	<global>
		<resources>
			<rewardpoints_setup>
				<setup>
					<module>Rewardpoints</module>
					<class>Mage_Core_Model_Resource_Setup</class>
				</setup>
				<connection><use>core_setup</use></connection>
			</rewardpoints_setup>
			<rewardpoints_write>
				<connection><use>core_write</use></connection>
			</rewardpoints_write>
			<rewardpoints_read>
				<connection><use>core_read</use></connection>
			</rewardpoints_read>
		</resources>

		
		<models>
			<rewardpoints>
				<class>Rewardpoints_Model</class>
                                <resourceModel>rewardpoints_mysql4</resourceModel>
			</rewardpoints>
                        <rewardpoints_mysql4>
                            <class>Rewardpoints_Model_Mysql4</class>
                            <entities>
                                <rewardpoints_account>
                                    <table>rewardpoints_account</table>
                                </rewardpoints_account>
                                <rewardpoints_referral>
                                    <table>rewardpoints_referral</table>
                                </rewardpoints_referral>
                                <referral>
                                    <table>rewardpoints_referral</table>
                                </referral>
                                <stats>
                                    <table>rewardpoints_account</table>
                                </stats>
                                <rules>
                                    <table>rewardpoints_rule</table>
                                </rules>
                                <customer_entity>
                                    <table>customer_entity</table>
                                </customer_entity>
                                <pointrules>
                                    <table>rewardpoints_pointrules</table>
                                </pointrules>
                                <catalogpointrules>
                                    <table>rewardpoints_catalogrules</table>
                                </catalogpointrules>
                            </entities>
                        </rewardpoints_mysql4>

                        <salesrule>
                            <rewrite>
                                <validator>Rewardpoints_Model_Validator</validator>
                            </rewrite>
			</salesrule>


                        <!-- Rewardpoints_Model_Review extends Mage_Review_Model_Review -->
                        <review>
                            <rewrite>
                                <review>Rewardpoints_Model_Review</review>
                            </rewrite>
			</review>


		</models>
                
		
                <template>
                    <email>
                        <rewardpoints_registration_subscription_email_template translate="label"	module="rewardpoints">
                            <label>Subscription</label>
                            <file>rewardpoints_referral_subscribe.html</file>
                            <type>html</type>
                        </rewardpoints_registration_subscription_email_template>
                        <rewardpoints_registration_confirmation_email_template translate="label"	module="rewardpoints">
                            <label>Confirmation</label>
                            <file>rewardpoints_referral_confirm.html</file>
                            <type>html</type>
                        </rewardpoints_registration_confirmation_email_template>

                    </email>
		</template>
		
		
		<blocks>
                    <rewardpoints>
                        <class>Rewardpoints_Block</class>
                    </rewardpoints>
                </blocks>
		
            
            <helpers>
                <rewardpoints>
                    <class>Rewardpoints_Helper</class>
                </rewardpoints>
            </helpers>


            <events>
                    <!--<sales_order_invoice_pay>
                            <observers>
                                    <rewardpoints>
                                            <type>singleton</type>
                                            <class>rewardpoints/observer</class>
                                            <method>sales_order_invoice_pay</method>
                                    </rewardpoints>
                            </observers>
                    </sales_order_invoice_pay>-->

                    <sales_quote_address_discount_item>
                            <observers>
                                    <rewardpoints>
                                        <type>singleton</type>
                                        <class>Rewardpoints_Model_Observer</class>
                                        <method>applyDiscount</method>
                                    </rewardpoints>
                            </observers>
                    </sales_quote_address_discount_item>


            </events>
		
	</global>
	
	<frontend>
            <events>
                    <!--<checkout_onepage_controller_success_action>
                        <observers>
                            <recordOrderPoints>
                                <type>singleton</type>
                                <class>rewardpoints/observer</class>
                                <method>recordPointsForOrderEvent</method>
                            </recordOrderPoints>
                        </observers>
                    </checkout_onepage_controller_success_action>-->

                    <checkout_type_onepage_save_order_after>
                        <observers>
                            <recordOrderPoints>
                                <type>singleton</type>
                                <class>rewardpoints/observer</class>
                                <method>recordPointsForOrderEvent</method>
                            </recordOrderPoints>
                        </observers>
                    </checkout_type_onepage_save_order_after>

                    <checkout_submit_all_after>
                        <observers>
                            <recordOrderPoints>
                                <type>singleton</type>
                                <class>rewardpoints/observer</class>
                                <method>recordPointsForMultiOrderEvent</method>
                            </recordOrderPoints>
                        </observers>
                    </checkout_submit_all_after>

                    <!--<sales_convert_quote_to_order>
                        <observers>
                            <recordOrderPoints>
                                <type>singleton</type>
                                <class>rewardpoints/observer</class>
                                <method>recordPointsForOrderEvent</method>
                            </recordOrderPoints>
                        </observers>
                    </sales_convert_quote_to_order>-->

                    <customer_login>
                        <observers>
                            <recordOrderPoints>
                                <type>singleton</type>
                                <class>rewardpoints/observer</class>
                                <method>recordPointsUponRegistration</method>
                            </recordOrderPoints>
                        </observers>
                    </customer_login>
            </events>
		
            <translate>
                <modules>
                    <rewardpoints>
                        <files>
                            <default>rewardpoints.csv</default>
                        </files>
                    </rewardpoints>
                </modules>
            </translate>
        
            <layout>
                <updates>
                    <rewardpoints>
                        <file>rewardpoints.xml</file>
                    </rewardpoints>
                </updates>
            </layout>
		
	</frontend>
	
	
    <admin>
        <routers>
            <rewardpoints>
                <use>admin</use>
                <args>
                    <module>Rewardpoints</module>
                    <frontName>rewardpoints</frontName>
                </args>
            </rewardpoints>
        </routers>
    </admin>

    <frontend>
        <routers>
            <rewardpoints>
                <use>standard</use>
                <args>
                    <module>RewardPoints</module>
                    <frontName>rewardpoints</frontName>
                </args>
            </rewardpoints>
        </routers>
    </frontend>


    
    <adminhtml>

        <layout>
            <updates>
                <rewardpoints>
                    <file>rewardpoints.xml</file>
                </rewardpoints>
            </updates>
        </layout>

        <menu>
                <rewardpoints translate="title" module="rewardpoints">
                        <title>Reward Points</title>
                        <sort_order>50</sort_order>
                        <children>
                                <stats translate="title" module="rewardpoints">
                                        <title>Statistics</title>
                                        <sort_order>2</sort_order>
                                        <action>rewardpoints/adminhtml_stats</action>
                                </stats>
                                <clientpoints translate="title" module="rewardpoints">
                                        <title>Client points</title>
                                        <sort_order>3</sort_order>
                                        <action>rewardpoints/adminhtml_clientpoints</action>
                                </clientpoints>
                                <!--<import_export translate="title" module="rewardpoints">
                                        <title>Import/export</title>
                                        <sort_order>4</sort_order>
                                        <children>
                                            <import translate="title" module="rewardpoints">
                                                <title>Import</title>
                                                <sort_order>1</sort_order>
                                                <action>rewardpoints/adminhtml_import</action>
                                            </import>
                                            <export translate="title" module="rewardpoints">
                                                <title>Export</title>
                                                <sort_order>2</sort_order>
                                                <action>rewardpoints/adminhtml_export</action>
                                            </export>
                                        </children>
                                </import_export>-->
                                <referrals translate="title" module="rewardpoints">
                                        <title>Referrals</title>
                                        <sort_order>5</sort_order>
                                        <action>rewardpoints/adminhtml_referrals</action>
                                </referrals>
                                <!--<rules translate="title" module="rewardpoints">
                                        <title>Rules (beta)</title>
                                        <sort_order>6</sort_order>
                                        <action>rewardpoints/adminhtml_rules</action>
                                </rules>-->
                                <catalogpointrules translate="title" module="rewardpoints">
                                    <title>Catalog point rules</title>
                                    <sort_order>6</sort_order>
                                    <action>rewardpoints/adminhtml_catalogpointrules</action>
                                </catalogpointrules>

                                <pointrules translate="title" module="rewardpoints">
                                    <title>Cart point rules</title>
                                    <sort_order>7</sort_order>
                                    <action>rewardpoints/adminhtml_pointrules</action>
                                </pointrules>
                                
                                <config translate="title" module="rewardpoints">
                                        <title>Configuration</title>
                                        <sort_order>8</sort_order>
                                        <action>adminhtml/system_config/edit/section/rewardpoints</action>
                                </config>
                        </children>
                </rewardpoints>
                
        </menu>

        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <rewardpoints module="rewardpoints">
                            <title>Reward Points</title>
                            <sort_order>50</sort_order>
                            <children>
                                <stats translate="title" module="rewardpoints">
                                    <title>Statistics</title>
                                    <sort_order>2</sort_order>
                                </stats>
                                <clientpoints translate="title" module="rewardpoints">
                                    <title>Client points</title>
                                    <sort_order>3</sort_order>
                                </clientpoints>
                                <referrals translate="title" module="rewardpoints">
                                    <title>Referrals</title>
                                    <sort_order>4</sort_order>
                                </referrals>
                                <!--<rules translate="title" module="rewardpoints">
                                    <title>Rules</title>
                                    <sort_order>5</sort_order>
                                </rules>-->

                                <catalogpointrules translate="title" module="rewardpoints">
                                    <title>Catalog point rules</title>
                                    <sort_order>5</sort_order>
                                </catalogpointrules>

                                <pointrules translate="title" module="rewardpoints">
                                    <title>Cart point rules</title>
                                    <sort_order>6</sort_order>
                                </pointrules>
                                <config translate="title" module="rewardpoints">
                                    <title>Configuration</title>
                                    <sort_order>7</sort_order>
                                </config>
                            </children>
                        </rewardpoints>
                    </children>
                </admin>
            </resources>
        </acl>




        <acl>
            <resources>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <rewardpoints_adminform>
                                    <title>Configuration</title>
                                </rewardpoints_adminform>
                            </children>
                        </catalog>
                    </children>
                </admin>
            </resources>
        </acl>


        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <rewardpoints>
                                            <title>Reward Points</title>
                                        </rewardpoints>
                                    </children>
                                </config>
                            </children>
                        </system>
                        <customer>
                            <children>
                                <rewardpoints translate="title">
                                    <title>Reward Points</title>
                                    <sort_order>41</sort_order>
                                </rewardpoints>
                            </children>
                        </customer>
                    </children>
                </admin>
            </resources>
        </acl>
        
        <translate>
            <modules>
                <rewardpoints>
                    <files>
                        <default>rewardpoints.csv</default>
                    </files>
                </rewardpoints>
            </modules>
        </translate>

    </adminhtml>

    <default>
        <rewardpoints>
            <default>
                <points_duration>0</points_duration>
                <money_points>1</money_points>
                <auto_use>0</auto_use>

                <max_point_collect_order>0</max_point_collect_order>
                <max_point_used_order>0</max_point_used_order>

                <points_money>50</points_money>
                <step_apply>0</step_apply>
                <step_value>250</step_value>
                <full_use>1</full_use>
		<math_method>0</math_method>
                
                <store_scope>0</store_scope>
            </default>
            <registration>
                <referral_show>1</referral_show>
                <review_points>0</review_points>
                <subscription_email_template>rewardpoints_registration_subscription_email_template</subscription_email_template>
                <subscription_email_identity>support</subscription_email_identity>
                <confirmation_email_template>rewardpoints_registration_confirmation_email_template</confirmation_email_template>
                <confirmation_email_identity>support</confirmation_email_identity>
                <referral_points>0</referral_points>
                <referral_child_points>0</referral_child_points>
                <registration_points>0</registration_points>
                <referral_permanent>0</referral_permanent>
                <referral_addthis>0</referral_addthis>
            </registration>
        </rewardpoints>
    </default>
	
	
</config>

